{% extends "base/dashboard-bootstrap.html.twig" %}

{% block actions %}
{% endblock actions %}

{% block todo %}
{% endblock todo %}

{% block stylecustomizer %}
{% endblock stylecustomizer %}

{% block content %}
<!-- BEGIN DASHBOARD STATS -->
    {% if fanpages %}
        {% for fanpage in fanpages %}
            <h1>{{ fanpage.name }}</h1>
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4">
            <a id="addfanpage" class="dashboard-stat dashboard-stat-light green-soft" href="#">
            <div class="visual">
                <i class="fa fa-plus"></i>
            </div>
            <div class="details">
                <div class="number">
                    Add Fanpage
                </div>
                <div class="desc">
                     
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="row" id="fanpages">
        {% for page in allpages %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-light blue-soft select-fanpage" data-name="{{ page.name }}" data-fbid="{{ page.id }}" data-fbtoken="{{ page.access_token }}" href="#">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                         {{ page.name }}
                    </div>
                    <div class="desc">
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
<!-- END DASHBOARD STATS -->
<div class="clearfix">
</div>
{% endblock content %}