{% extends "base/dashboard-bootstrap.html.twig" %}

{% block actions %}
{% endblock actions %}

{% block todo %}
{% endblock todo %}

{% block stylecustomizer %}
{% endblock stylecustomizer %}

{% block content %}
<!-- BEGIN DASHBOARD STATS -->
    {% if fanpages %}
        {% for fanpage in fanpages %}
            <h1>{{ fanpage.name }}</h1>
            <div id="messages">
            {% for message in messages %}
                <div class="well">
                    <h2>From: {{ message.from }}</h2>
                    <h2>To: {{ message.to }}</h2>
                    <h2>Mesage: {{ message.message }}</h2>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4">
            <a id="addfanpage" class="dashboard-stat dashboard-stat-light green-soft" href="#">
            <div class="visual">
                <i class="fa fa-plus"></i>
            </div>
            <div class="details">
                <div class="number">
                    Add Fanpage
                </div>
                <div class="desc">
                     
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="row" id="fanpages">
        {% for page in allpages %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-light blue-soft select-fanpage" data-name="{{ page.name }}" data-fbid="{{ page.id }}" data-fbtoken="{{ page.access_token }}" href="#">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                         {{ page.name }}
                    </div>
                    <div class="desc">
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
<!-- END DASHBOARD STATS -->
<div class="clearfix">
</div>
{% endblock content %}

{% block customjs %}
<script type="text/javascript">
    $(document).ready(function() {
        var fireb = new Firebase("https://bannana.firebaseio.com/ticket/fbmessage/");
        fireb.on("child_added", function(data) {
            var message = data.val();
            $("#messages").append('<div class="well">'+
                                        '<h2>From: '+message.from+'</h2>'+
                                        '<h2>To: '+message.to+'</h2>'+
                                        '<h2>Mesage: '+message.message+'</h2>'+
                                    '</div>');
        });
    });
</script>
{% endblock %}